<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books Shop</title>
    <link rel="icon" href="~/images/f8c3ed72-1705-475b-8a7b-8f41f393174f.png"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BooksShop.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<script>
    function addToCart(button, bookID){
        let oldCarValue = getCookieValue("shopping_cart");
        if (oldCarValue){
            oldCarValue += '-';            
        }
        let newCartValue = oldCarValue + bookID;

        //update cookie
        let date = new Date();
        date.setDate(date.getDate() + 365); // this cookie expires after 365 days (1 year)
        let expires = date.toUTCString();
        document.cookie = 'shopping_cart=' + newCartValue + ';expires=' + expires + ';path=/'

        // update the number of books in the shopping cart
        let booksArray = newCartValue.split('-');
        let count = booksArray.length;
        document.getElementById('BookCountBadge').innerHTML = count;

        button.innerHTML = "Added <i class='bi bi-check-lg'></i>";
    }

    function getCookieValue(cookieName){
        // document.cookie contains all the cookies of our website with the following format
        // cookie1=value1; cookie2=value2; cookie3=value3;
        let cookiesArray = document.cookie.split(';');
        for(let i = 0; i < cookiesArray.length; i++){
            let currentCookie = cookiesArray[i];
            if(currentCookie.includes(cookieName)){
                const [name, value] = currentCookie.split('=');
                return value;
            }      
        }        
        return "";
    }
</script>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/f8c3ed72-1705-475b-8a7b-8f41f393174f.png" class="me-2" width="30" height="30" alt="" />Books Shop
                    </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="AdvancedSearch">Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Add">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    @{
                        string cookieValue = this.Context.Request.Cookies[ShoppingCart];
                        int cartSize = 0;
                        if (!string.IsNullOrEmpty(cookieValue))
                        {
                            cartSize = cookieValue.Split("-").Length;
                        }
                    }
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark me-2" asp-area="" asp-controller="ShoppingCart" asp-action="Cart">
                                <i class="bi bi-cart4 text-danger h3"></i>
                                <span id="BookCountBadge" class="badge rounded-pill bg-danger" style="vertical-align: top;">
                                    @cartSize
                                </span>
                            </a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    @if (this.ViewData["NoContainer"] == null)
    {
        <div class="container mt-3">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }
    else
    {
        @RenderBody()
    }

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Books Shop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
