@model BookInputModel

<h2 class="my-3">New Book</h2>

@if (this.TempData.ContainsKey(Message))
{
    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
        <strong>@this.TempData[Message]</strong>
        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
    </div>
}

<form method="post" enctype="multipart/form-data">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Title</label>
        <div class="col-sm-6">
            <input class="form-control" asp-for="Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Author</label>
        <div class="col-sm-6">
            <input class="form-control" asp-for="Author" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">ISBN</label>
        <div class="col-sm-6">
            <input class="form-control" asp-for="ISBN" />
            <span asp-validation-for="ISBN" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Pages</label>
        <div class="col-sm-6">
            <input class="form-control" asp-for="NumOfPages" />
            <span asp-validation-for="NumOfPages" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Price ($)</label>
        <div class="col-sm-6">
            <input class="form-control" asp-for="Price" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Category</label>
        <div class="col-sm-6">
            <select class="form-select" asp-for="CategoryId" asp-items="@Model.Categories">
                <option selected>Choose A Category...</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Description</label>
        <div class="col-sm-6">
            <textarea class="form-control" asp-for="Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Image</label>
        <div class="col-sm-6">
            <input class="form-control" asp-for="Image" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" asp-controller="Book" asp-action="All" asp role="button">Cancel</a>
        </div>
    </div>

</form>
